.s-advanced-select {
  display: flex;
  flex-direction: column;
  position: relative;

  .s-advanced-select_keywords,
  .s-advanced-select_before,
  .s-advanced-select_after {
    flex-grow: 0;
    width: 100%;
  }

  .s-advanced-select_dropdown {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 50%;
    opacity: 0;
    max-width: calc(100vw - 100px);
    min-width: 100%;
    pointer-events: none;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
  }

  &:focus-within .s-advanced-select_dropdown {
    pointer-events: all;
    opacity: 1;
  }

  &.-top {
    .s-advanced-select_dropdown {
      top: auto;
      bottom: 100%;
    }
  }

  .s-advanced-select_input:focus + .s-advanced-select_dropdown,
  .s-advanced-select_dropdown:focus,
  .s-advanced-select_dropdown:focus-within {
    opacity: 1;
    pointer-events: all !important;
  }

  .s-advanced-select_items {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .s-advanced-select_item {
    position: relative;
    user-select: none;
    outline: none;
    display: none;

    &.-match {
      display: block;
    }
  }

  &:not([interactive]) .s-advanced-select_item {
    cursor: pointer;
    * {
      pointer-events: none;
    }
  }
}

.s-advanced-select[inline] {
  .s-advanced-select_dropdown {
    position: static;
    margin: 0;
    max-width: 100%;
    pointer-events: all;
    opacity: 1;
  }
}
